html, body {
  height: 100%;
  margin: 0;
  color: #FFFFFF;

  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.dashboard {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  width: 100vw;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}
